<mat-toolbar>
    <h1>Welcome to the Employee Management System</h1>
    <!-- <div class="row justify-content-end" style="margin-top: 20px; flex: 1 1 auto;">
        <div class="col-auto mb-3">

            <div class="button-container text-center">
                <button mat-flat-button color="primary" class="custom-button" (click)="openDialog()">Add
                    Employee</button>
            </div>
                <div class="row justify-content-center">
        <div class="col-auto">
            <div class="button-container text-center">
                <button mat-flat-button color="primary" class="custom-button" (click)="viewEmp()">View Employee</button>
            </div>
        </div>
    </div>
        </div>
    </div> -->
</mat-toolbar>
<div class="container">


</div>
<app-employee-list></app-employee-list>